
<div class="text-center">
  <h2>{{name}}</h2>
  
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>

<div class="content pure-u-1 pure-u-md-3-4">
  <div>
<!-- A wrapper for all the blog posts -->
  <div class="posts">
    <h1 class="content-subhead">Top Post</h1>
<!-- A single blog post -->
      <section class="post">
        <header class="post-header">
          <img width="48" height="48" alt="Tilo Mitra's avatar" class="post-avatar" src="/img/common/tilo-avatar.png">
          <h2 class="post-title">{{name}}</h2>
{{!-- <p class="post-meta">
        By <a href="#" class="post-author">Tilo Mitra</a> under <a class="post-category post-category-design" href="#">CSS</a> <a class="post-category post-category-pure" href="#">Pure</a> --}}
{{!-- </p> --}}
</header>
<div class="post-description">
    <p>{{description}}</p>
</div>
<p>Created by {{user.name}} on {{format_date date_created}}</p>
</section>
{{!-- To add and make comments to a post --}}
<div class="comments-view"><div class="comments-holder">
<a href="#" name="comments"></a>
			<div class="comments-form">
						<div class="comment-icon circle-icon">
						</div>
						<div class="comment-form-field">
							<textarea class="new-comment-text" name="comment" placeholder="Add a comment" data-notutorial="Add a comment" data-tutorial="press Enter to post and Shift+Enter for newline" data-action="comment"></textarea>
						</div>
			</div>
			<button class="ui-button ui-button-cta comment" data-action="comment">Comment</button>
	</div></div>
</div>

<div class="posts">
    <h1 class="content-subhead">Top Post</h1>
<!-- A single blog post -->
      <section class="post">
        <header class="post-header">
          <img width="48" height="48" alt="Tilo Mitra's avatar" class="post-avatar" src="/img/common/tilo-avatar.png">
          <h2 class="post-title">{{name}}</h2>
{{!-- <p class="post-meta">
        By <a href="#" class="post-author">Tilo Mitra</a> under <a class="post-category post-category-design" href="#">CSS</a> <a class="post-category post-category-pure" href="#">Pure</a> --}}
{{!-- </p> --}}
</header>

<div class="post-description">
    <p>{{description}}</p>
</div>
<p>Created by {{user.name}} on {{format_date date_created}}</p>
  </section>

{{!-- Comments section --}}
<div class="comments">
  <h3 class="dividing header">Comments</h3>
{{!-- Past Comments --}}
<div class="comment">
    <div class="content">
      <a class="author">Matt</a>
      <div class="metadata">
        <span class="date">Today at 5:42PM</span>
      </div>
      <div class="text">
        How artistic!
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>

{{!-- To add and make comments to a post --}}
<div class="comments-view"><div class="comments-holder">
<a href="#" name="comments"></a>
			<div class="comments-form">
						<div class="comment-icon circle-icon">
						</div>
						<div class="comment-form-field">
							<textarea class="new-comment-text" name="comment" placeholder="Add a comment" data-notutorial="Add a comment" data-tutorial="press Enter to post and Shift+Enter for newline" data-action="comment"></textarea>
						</div>
			</div>
			<button class="ui-button ui-button-cta comment" data-action="comment">Comment</button>
	</div></div>
</div>
</div>
</div>

<div class="footer">
  <div class="pure-menu pure-menu-horizontal">
    <ul>
    <li class="pure-menu-item"><a href="http://purecss.io/" class="pure-menu-link">About</a></li>
     <li class="pure-menu-item"><a href="http://github.com/pure-css/pure/" class="pure-menu-link">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="./js/post.js"></script>